{{define "content"}}
<div class="container-drop">
    <div class="wrap-drop">
        <form class="drop-form" method="POST">
            <span class="drop-form-title">Drop A Note</span>

            <div class="wrap-drop-input">
                <input class="drop-input" type="text" name="subject" placeholder="Note Subject">
                <span class="focus-drop-input"></span>
            </div>

            <div class="wrap-drop-input">
                <textarea class="drop-input" name="content" placeholder="Note Content"></textarea>
                <span class="focus-drop-input"></span>
            </div>

            {{if .User.Name}}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="shouldLink" name="shouldLink">
                <label class="custom-control-label" for="shouldLink">Link this note to me</label>
                <div class="custom-tooltip"><i class="fas fa-info-circle px-1"></i>
                    <span class="custom-tooltiptext">You can only edit and delete notes that are linked to you.</span>
                </div>
            </div>
            {{end}}     

            <div class="container-drop-form-btn">
                <button class="drop-form-btn">Drop</button>
            </div>
        </form>
    </div>
</div>
{{end}}
