{{define "content"}}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>{{.Title}}</h1>
        </div>
        {{$i := .Info}}
        <h2>{{$i.Heading}}</h2>
        <p>{{$i.Message}}</p>
        <a href="/">Back To Homepage</a>
    </div>
</div>
{{end}}