{{define "content"}}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>{{.Title}}</h1>
        </div>
        <h2>{{.Heading}}</h2>
        <p>{{.Message}}</p>
        <a href="/">Back To Homepage</a>
    </div>
</div>
{{end}}