{{define "content"}}
<div id="info">
    <div class="info">
        {{$i := .Info}}
        <h2 class="display-4">{{$i.Heading}}</h2>
        <p class="lead">{{$i.Message}}</p>
    </div>
</div>
{{end}}