{{define "content"}}
{{$n := .Note}}
<div class="container py-3">
    <h6 class="display-4">{{$n.Subject}}<br>
        <p class="lead text-muted">{{$n.Voucher}}<br>{{$n.Dropped}}</p>
    </h6>
    <div class="row justify-content-center px-3">
        <div class="w-100">
            <p class="lead">{{$n.Content}}</p>
        </div>
        <div>
            <img class="img-fluid" src="/temp/qr/notes/ {{- $n.Voucher}}"
                alt="/temp/qr/notes/ {{- $n.Voucher}}">
        </div>
    </div>
</div>
{{end}}