{{define "content"}}
<div class="limiter">
    <div class="container-auth">
        <div class="wrap-auth">
            <form class="auth-form" method="POST">
                <span class="auth-form-title mb-3">Sign Up</span>

                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="text" name="name" placeholder="Username" required>
                    <span class="focus-auth-input"></span>
                </div>
                
                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="email" name="mail" placeholder="Email Address" required>
                    <span class="focus-auth-input"></span>
                </div>

                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="password" name="pass" placeholder="Password" minlength="8" required>
                    <span class="focus-auth-input"></span>
                </div>
                
                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="password" name="confirm" placeholder="Confirm Password" required>
                    <span class="focus-auth-input"></span>
                </div>

                <div class="container-auth-form-btn mb-3">
                    <button class="auth-form-btn">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}