{{define "content"}}
<div class="limiter">
    <div class="container-auth">
        <div class="wrap-auth">
            {{range $_, $v := .Flashes}}
            <div class="alert alert- {{- $v.Status}} alert-dismissible fade show" role="alert">
                <strong class="text-capitalize">{{$v.Status -}} !</strong> {{$v.Message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            {{end}}

            {{$d := .Data}}
            {{$u := .User}}
            <form class="auth-form" method="POST">
                <span class="auth-form-title mb-3">{{$d.Title}}</span>
                {{if eq $d.Title "Change Email"}}
                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="email" name="mail" placeholder="{{$u.Mail}}">
                    <span class="focus-auth-input"></span>
                </div>
                {{else}}
                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="password" name="current" placeholder="Current Password" minlength="8" required>
                    <span class="focus-auth-input"></span>
                </div>

                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="password" name="updated" placeholder="Updated Password" required>
                    <span class="focus-auth-input"></span>
                </div>

                <div class="wrap-auth-input  mb-3">
                    <input class="auth-input" type="password" name="confirm" placeholder="Confirm Password" required>
                    <span class="focus-auth-input"></span>
                </div>
                {{end}}
                <div class="container-auth-form-btn mb-3">
                    <button class="auth-form-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}