{{define "menu"}}

{{$next := ""}}
{{if eq .Title "Drop Note"}} {{$next = "dropnote"}}
{{else if eq .Title "Drop Code"}} {{$next = "dropcode"}}
{{else if eq .Title "Apps"}} {{$next = "apps"}}
{{end}}

<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">{{.User}}</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="/me">Profile</a>
    <a class="dropdown-item" href="/logout {{- if $next -}} ?next= {{- $next}} {{end}}">Log Out</a>
</div>

{{end}}